/* body{
    background-image: url("https://static.vecteezy.com/system/resources/thumbnails/036/324/708/small/ai-generated-picture-of-a-tiger-walking-in-the-forest-photo.jpg");
    background-repeat:no-repeat;
    background-position: 100px;
} */

/* h1{
    background-color:brown;
} */

/* #h2{
    background-color: blue;
    height: 200px;
    width: 200px;

    background-image: url("https://www.industrialempathy.com/img/remote/ZiClJf-1920w.jpg");
} */

.h3{
    background-color: blueviolet;
x
}

